[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
numpy = "*"
pyyaml = "*"
pathlib = "*"
python-dotenv = "*"
pytest = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
nptyping = "*"
fastapi = "*"
uvicorn = "*"
orjson = "*"
loguru = "*"
pre-commit = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.10"
